FOIA_RTI Request Generator — Complete Workflow.json
{
  "name": "FOIA/RTI Request Generator — Complete Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "foia-request",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7046050e-cb40-4f99-8de4-53e5adfa9811",
      "name": "Webhook — Receive FOIA Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2128,
        1648
      ],
      "webhookId": "foia-request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-request-id",
              "leftValue": "={{ $('Webhook — Receive FOIA Request').item.json.body.request_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "condition-agency-email",
              "leftValue": "={{ $('Webhook — Receive FOIA Request').item.json.body.agency_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "condition-letter-text",
              "leftValue": "={{ $('Webhook — Receive FOIA Request').item.json.body.letter_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bff7193-d818-451b-ab08-245eb395856f",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2352,
        1648
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook — Receive FOIA Request').item.json.body.agency_email }}",
        "subject": "=Freedom of Information Act / RTI Request — {{ $('Webhook — Receive FOIA Request').item.json.body.request_id }}",
        "message": "=<p>Dear Sir/Madam,</p><p>Please find below a formal public records request submitted under the applicable freedom of information / right to information statute for your jurisdiction.</p><p><strong>Request ID:</strong> {{ $('Webhook — Receive FOIA Request').item.json.body.request_id }}<br><strong>Agency:</strong> {{ $('Webhook — Receive FOIA Request').item.json.body.agency_name }}<br><strong>Jurisdiction:</strong> {{ $('Webhook — Receive FOIA Request').item.json.body.jurisdiction }}<br><strong>Date Sent:</strong> {{ $('Webhook — Receive FOIA Request').item.json.body.date_sent }}<br><strong>Response Due:</strong> {{ $('Webhook — Receive FOIA Request').item.json.body.response_due }}</p><hr><pre>{{ $('Webhook — Receive FOIA Request').item.json.body.letter_text }}</pre><hr><p>This request was generated by the FOIA/RTI Request Generator on behalf of {{ $('Webhook — Receive FOIA Request').item.json.body.requester_name }}.</p><p>Please direct any correspondence regarding this request to the contact details provided in the letter above.</p>",
        "options": {
          "replyTo": "={{ $('Set Config Variables').item.json.REQUESTER_EMAIL }}",
          "senderName": "={{ $('Webhook — Receive FOIA Request').item.json.body.requester_name }}"
        }
      },
      "id": "97e869ae-5b75-4668-b18d-faff236ef782",
      "name": "Gmail — Send Letter to Agency",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2592,
        1472
      ],
      "webhookId": "d509433a-c47e-49b4-8b5b-31e0f098e700",
      "credentials": {
        "gmailOAuth2": {
          "id": "7n1E2ukZcYGNKBkm",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Config Variables').item.json.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "ad568d66-0ecd-4e02-880c-e9ff481c871f",
      "name": "Google Sheets — Log Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2592,
        1664
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XVTuaIcXO5eHRHCl",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Set Config Variables').item.json.REQUESTER_EMAIL }}",
        "subject": "=Your FOIA/RTI Request Has Been Submitted — {{ $('Webhook — Receive FOIA Request').item.json.body.request_id }}",
        "message": "=<p>Dear {{ $('Webhook — Receive FOIA Request').item.json.body.requester_name }},</p><p>Your public records request has been successfully submitted. Here are the details:</p><table style='border-collapse: collapse; width: 100%;'><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Request ID</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $('Webhook — Receive FOIA Request').item.json.body.request_id }}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Agency</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $('Webhook — Receive FOIA Request').item.json.body.agency_name }}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Agency Email</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $('Webhook — Receive FOIA Request').item.json.body.agency_email }}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Jurisdiction</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $('Webhook — Receive FOIA Request').item.json.body.jurisdiction }}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Date Sent</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $('Webhook — Receive FOIA Request').item.json.body.date_sent }}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Response Due</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $('Webhook — Receive FOIA Request').item.json.body.response_due }}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Subject</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $('Webhook — Receive FOIA Request').item.json.body.subject }}</td></tr></table><p style='margin-top: 16px;'>The agency is required to respond by <strong>{{ $('Webhook — Receive FOIA Request').item.json.body.response_due }}</strong>. If no response is received by then, an automatic follow-up will be sent on your behalf.</p><p>A copy of your letter has been saved to: <code>{{ $('Webhook — Receive FOIA Request').item.json.body.output_file }}</code></p><hr><p style='color: #666; font-size: 12px;'>This is an automated notification from the FOIA/RTI Request Generator.</p>",
        "options": {}
      },
      "id": "5a8fb283-161c-4fe1-9be3-5ae3ab9c9b3e",
      "name": "Gmail — Confirmation to Requester",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2592,
        1856
      ],
      "webhookId": "10aff0df-2054-464b-be9b-cc3ee9b8ce64",
      "credentials": {
        "gmailOAuth2": {
          "id": "7n1E2ukZcYGNKBkm",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "636a3c32-24fa-480f-bb32-fe67b08a953b",
      "name": "Schedule — Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2128,
        2240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Config Variables').item.json.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "081b4b75-aabc-4dd4-883f-66c3e6b002c9",
      "name": "Google Sheets — Read All Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2352,
        2240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XVTuaIcXO5eHRHCl",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-status-sent",
              "leftValue": "={{ $json['Status'] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-date-overdue",
              "leftValue": "={{ $json['Date Sent'] }}",
              "rightValue": "={{ $now.minus({days: 30}).toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "smallerEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8e1b3984-8b5d-4f09-9501-317964fe33c8",
      "name": "Filter — SENT + 30 Days Past",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2592,
        2240
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Agency Email'] }}",
        "subject": "Follow-Up: Outstanding FOIA/RTI Request — {{ $json['Request ID'] }}",
        "message": "=<p>Dear Sir/Madam,</p><p>I am writing to follow up on my public records request submitted on <strong>{{ $json['Date Sent'] }}</strong> (Request ID: <strong>{{ $json['Request ID'] }}</strong>).</p><p>As of today, the statutory response deadline of <strong>{{ $json['Response Due'] }}</strong> has passed, and I have not yet received a response or acknowledgment of my request.</p><p><strong>Request Details:</strong></p><ul><li><strong>Request ID:</strong> {{ $json['Request ID'] }}</li><li><strong>Agency:</strong> {{ $json['Agency Name'] }}</li><li><strong>Jurisdiction:</strong> {{ $json['Jurisdiction'] }}</li><li><strong>Subject:</strong> {{ $json['Subject'] }}</li><li><strong>Original Date Sent:</strong> {{ $json['Date Sent'] }}</li><li><strong>Response Due:</strong> {{ $json['Response Due'] }}</li></ul><p>I respectfully request that you process this request at your earliest convenience and provide the requested records or a written explanation for any delay or denial.</p><p>Please contact me if you need any additional information to locate the requested records.</p><p>Thank you for your attention to this matter.</p><p>Sincerely,<br>{{ $json['Requester Name'] }}</p><hr><p style='color: #666; font-size: 12px;'>This is an automated follow-up sent by the FOIA/RTI Request Generator.</p>",
        "options": {
          "replyTo": "={{ $('Set Config Variables').item.json.REQUESTER_EMAIL }}",
          "senderName": "={{ $json['Requester Name'] }}"
        }
      },
      "id": "7993320f-7250-43bf-b987-e40f35320ac5",
      "name": "Gmail — Follow-Up to Agency",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2832,
        2176
      ],
      "webhookId": "89bed5cd-5931-4a70-a16c-631b8f69469e",
      "credentials": {
        "gmailOAuth2": {
          "id": "7n1E2ukZcYGNKBkm",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Config Variables').item.json.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Request ID"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "bfd886be-0676-480c-8ba4-c88a0ba72304",
      "name": "Google Sheets — Update Status FOLLOWED_UP",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3088,
        2176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XVTuaIcXO5eHRHCl",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-requester-email",
              "name": "REQUESTER_EMAIL",
              "value": "={{ $('Webhook — Receive FOIA Request').item.json.body.user_email }}",
              "type": "string"
            },
            {
              "id": "set-sheet-id",
              "name": "GOOGLE_SHEET_ID",
              "value": "1eXva5mTCGckLlIuQPUvcQ0rm4EJgN1RqC3uMNovGbqw",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "21136678-8ddc-432c-8b7b-602eef1f755f",
      "name": "Set Config Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        1648
      ],
      "notes": "EDIT THIS NODE: Replace YOUR_EMAIL@gmail.com and YOUR_GOOGLE_SHEET_ID_HERE with your real values before activating the workflow."
    },
    {
      "parameters": {
        "jsCode": "const w = $('Webhook — Receive FOIA Request').item.json.body;\nreturn [{\n  json: {\n    'Request ID':     w.request_id,\n    'Agency Name':    w.agency_name,\n    'Agency Email':   w.agency_email,\n    'Agency Key':     w.agency_key,\n    'Jurisdiction':   w.jurisdiction,\n    'Subject':        w.subject,\n    'Requester Name': w.requester_name,\n    'Date Sent':      w.date_sent,\n    'Response Due':   w.response_due,\n    'Status':         'SENT',\n    'Output File':    w.output_file\n  }\n}];"
      },
      "id": "164aa713-2bd3-439b-a146-50a9fc9240fb",
      "name": "Code — Shape Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        1664
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Receive FOIA Request": {
      "main": [
        [
          {
            "node": "Set Config Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Gmail — Send Letter to Agency",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail — Confirmation to Requester",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code — Shape Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule — Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Google Sheets — Read All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Read All Rows": {
      "main": [
        [
          {
            "node": "Filter — SENT + 30 Days Past",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — SENT + 30 Days Past": {
      "main": [
        [
          {
            "node": "Gmail — Follow-Up to Agency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Follow-Up to Agency": {
      "main": [
        [
          {
            "node": "Google Sheets — Update Status FOLLOWED_UP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config Variables": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Shape Sheet Data": {
      "main": [
        [
          {
            "node": "Google Sheets — Log Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "86439ebd-93a8-4b5b-a9b8-b64df663c5d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "353ca440c8267a7d9a2f3962d4c97984f5e5ab3b6bcfeac3ed5c6806cf47d733"
  },
  "id": "gSvUZCM5TFzyC52N",
  "tags": []
}